body{
	background: white;
}

.centerHorizontal{
	text-align:center;
}

#alternatives{
	position: absolute;
    bottom:0;
    left:0%;
    margin: 0 auto;
    width:100%;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
    text-align: center;
}

.alternative{
	margin: .5%;
	border-radius: 3px;
    display:inline-flex;
	height: 90px;
    width:49%;
	background: #41b6e6;
	text-shadow:none;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	color: white;
	font: bold 16px arial;
}	
.answere{
	background: #41b6e6;
}
.wrong{	
	background: #e84b7d;
	color:white;
	opacity: 0.2;
}

.neutral{
	opacity: 0.2;
}
.correct{
	background: #59b548;
}

#score{
	display:none;
	text-align:center;
	display: block; 
	margin-top:20%;
}
#totalScore{
	font-style: bold;
	font-size: 50px;
}

#quiz #infoHeader{
	position: absolute;
	background-color: #88c7ed;
	top:44px;
	left:0px;
	height:30px;
	width: 100%;
	border:none;
}

#scoreWrapper{
	display: block;
	padding: 4px;
	background:yellow;
}

#quiz #timerWrapper{
	display: inline-block;
	padding:4px;
	float:right;
	text-align: right;
}

#countdown{
	position: absolute;
    margin: auto 0;
    left: 0;
	bottom: 7px;
	width: 100%;
    text-align: center;
    pointer-events: none;
}

#countdown #div_timerCounter{
    display:flex;
    position: absolute;
	text-align: center;
	justify-content: center;
    width:100%;
    top:72px;
}

#inspiriaLogo{
	background-image: url("../images/inspiriaLogo.png");
	background-repeat: no-repeat;
	position: absolute;
	top:-2px;
	right:-5px;
}

#image {
	display: block;
	width: auto;
	max-width: 300px;
	height: auto;
	max-height: 170px;
	margin: 0 auto;
}

#exhibitImage {
	display:block;
	width: auto;
	max-width: 300px;
	height: auto;
	max-height: 200px;
	margin: 0 auto;
}

.bold{
	font-weight: 800;
}
		
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #000;
}