body{
	background: white;
}

.centerHorizontal{
	text-align:center;
}
			
#alternatives{
	position: absolute;
    bottom:0;
    left:0%;
    margin: 0 auto;
    width:100%;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
    text-align: center;
}

.alternative{
	margin: 2px;
	border-radius: 3px;
    display:inline-block;
	height: 90px;
    width:49%;
	background: rgb(9,152,217);
	text-shadow:none;
	color: white;
	font: bold 16px arial;
}	
.answere{
	background: #ffaa26;
}
.wrong{	
	background: #e84b7d;
	color:white;
	opacity: 0.2;
}

.neutral{
	opacity: 0.2;	
}
.correct{
	background: #59b548;
}

#score{
	display:none;
	text-align:center;
	display: block; 
	margin-top:20%;
}
#totalScore{
	font-style: bold;
	font-size: 50px;
}

#quiz #infoHeader{
	position: absolute;
	background-color: #88c7ed;
	top:44px;
	left:0px;
	height:30px;
	width: 100%;
	border:none;
}

#quiz #scoreWrapper{
	display: inline-block;
	padding:4px;
	align-content: flex-start;
}

#quiz #timerWrapper{
	display: inline-block;
	padding:4px;
	float:right;
	text-align: right;
}

#countdown{
	position: absolute;
    margin: auto 0;
    left: 0;
	bottom: 0;
	width: 100%;
    text-align: center;
    pointer-events: none;
}

#countdown #canvas_spinner{
    
}

#countdown #div_timerCounter{
    position: absolute;
    left:49%;
    top:75px;
}

#inspiriaLogo{
	background-image: url("../images/inspiriaLogo.png");
	background-repeat: no-repeat;
	position: absolute;
	top:-2px;
	right:-5px;
}

		