html,body{
    margin: 0;
}

#Alternatives{
    position: absolute;
    bottom: 4px;
    height:50%;
    width:100%;
}

.Alternative{
    float:left;
    bottom: 1px;
    height:50%;
}

@media only screen and (orientation: portrait){
    
    .Alternative{
        width: 178px;
        border:1px solid red;
        text-align: center;
    }
}

@media only screen and (orientation: landscape){
    
    .Alternative{
        width: 49%;
        height: 50%;
        border:1px solid blue;
        text-align: center;
    }
}