#quiz #content{
    position:fixed;
    height:100%;
    width:100%;
    float:left;
}

#quiz #upperHalf{
    width:100%;
    height:50%;
}

#quiz #infoHeader{
    height:50px;
    border:none;
}

#quiz #scoreWrapper{
    position: absolute;
    left:50px;
    top:30%;
}

#quiz #timerWrapper{
    position: absolute;
    right:50px;
    top:30%;
}

#quiz #lowerHalf{
    width:100%;
    height:50%;
}

#quiz #listAlt{
    text-align: center;
    height:100%;
    width:100%;
}

#quiz #listAlt li{
    background-color:grey;
    width:45%;
    height:45%;
    display: inline-flex;
    justify-content: center;
	align-items: center;
    border-radius: 15px;
    cursor:pointer;
}

#quiz #listAlt li a{
    text-align: center;
    font-weight: normal;
    color: white;
    text-shadow: none;
    background-color: transparent;
    border:none;
    padding:0;
    white-space: normal;
    border-radius: 0;
}

#quiz #listAlt li:hover{
    background-color:#3e3e3e;
}

#quiz #liAlt0{
    margin:0;
    margin-right:0.25%;
    margin-bottom:0.5%;
}
#quiz #liAlt1{
    margin-left:0.25%;
    margin-bottom:0.5%;
}
#quiz #liAlt2{
    margin-right:0.25%;
    margin-top:0.25%;
}
#quiz #liAlt3{
    margin-left:0.25%;
    margin-top:0.25%;
}