#sidepanel{
    width: 200px;
}

#sidepanel #btnCloseSidepanel{
    width:40px;
    margin-left:160px;
}

#sidepanel #btnCloseSidepanel a:active{
    box-shadow: none;
}

#sidepanel #btnCloseSidepanel a:focus{
    box-shadow: none;
}

#sidepanel #btnCloseSidepanel a{
    padding: 15px 0 15px 0;
    background-color: transparent;
    border:none;
}