body{
    margin:0;
}

#navbar-wrapper{
    background-color: #000000;
}

.navbar{
    list-style: none;
    height:35px;
    padding-top: 5px;
    text-align: right;
    padding-right: 15px;
}

.navbar li{
    display: inline;
    padding-right: 5px;
}

.navbar li a{
    display: inline-block;
    height:20px;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    color: #999999;
}
.navbar li a:hover{
    background-color:#999999;
    color: white;
}